* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3 {
    color: #34495e;
}

a {
    color: #34495e;
    text-decoration: none;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: 20px;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header,
.main-nav {
    display: flex;
}

.header {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.search body {
    background-color: white;
}

.search form {
    margin-top: 30px;
}

.search input {
    padding: 4px 10px;
    border: 1px #34495e;
    font-size: 16px;
}

.search {
    width: 87%;
    margin-left: 75px;
}

.search .submit {
    width: 70px;
    background-color: #34495e;
    color: #ffffff;
    border-radius: 5px;
}

td {
    border: #34495e solid 1px;
    align-items: center;
}